.specifications{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.specifications .child{
    display: flex;
    align-items: center;
}
.specifications .child div{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20px;
    line-height: 0;
    width: 330px;
}
.specifications .child div p{
    color: #808080;
}
.specifications img{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.specifications #card{
    padding:15px;
}
hr{
    margin-top: 20px;
}


/* (1280px and below) */
@media (max-width: 1280px) {
  .specifications .child div {
    width: 280px;
  }
}

/* (1024px and below) */
@media (max-width: 1024px) {
  .specifications {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .specifications .child div {
    width: 260px;
    margin-left: 15px;
  }
}

/*  (800px and below) */
@media (max-width: 800px) {
  .specifications {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .specifications .child {
    flex-direction: row;
  }
  .specifications .child div {
    width: 100%;
    margin-left: 12px;
  }
}

/*  (500px and below) */
@media (max-width: 500px) {
  .specifications {
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .specifications .child {
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }
  .specifications .child div {
    width: 100%;
    margin-left: 0;
  }
  .specifications img {
    width: 50px;
    height: auto;
  }
}
